

name: My Workflow

on: [push]

jobs:
  hello-nedap:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v3

      - name: setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Build with maven
        run: mvn --batch-mode --update-snapshots verify

##      Printing the pom file for checking
#      - name: Checkout checkout
#        run: cat pom.xml



